.detail-container {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color:rgba(255, 255, 255, 0.6);
}

.poster img {
  border-radius: 10px;
}

.info {
  width: 100%;
}

.field {
  margin-left: 40px;
  text-align: left;
  font-size: 22px;
  margin-bottom: 20px;
}

.label {
  color:rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: bold;
}

.label-p{
  display:inline-block;
  color:rgba(255, 255, 255, 0.6);
  font-size: 20px;
}

.title{
  color:white;
  font-size: 28px;
}