.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-warning {
  margin: 20px 0;
  color: white;
}

.text-link {
  text-decoration: none;
  color: inherit;
}
