.input-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 40px;
}

input {
  width: 522px;
  height: 48px;
  margin: auto;
  font-size: inherit;
  padding: 0 58px 0 28px;
  border-radius: 30px;
  border: none;
  border: 1.3px solid #f2f2f2;
  outline: 0;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.15);
  transition: all 300ms ease;
}

.search-warning {
  font-size: 22px;
}
